* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.hamburger {
  position: fixed;
  z-index: 100;
  top: 2rem;
  right: 1rem;
  padding: 4px;
  border: black solid 1px;
  background: white;
  cursor: pointer;
}

#close {
  display: none;
  cursor: pointer;
}
.menu {
  position: fixed;
  transform: translateY(-100%);
  transition: transform 0.5s;
  top: -10;
  left: 0;
  right: 0;
  bottom: 1;
  z-index: 99;
  background: black;
  color: white;
  list-style: none;
  padding-top: 4rem;
  cursor: pointer;
}
.menu li a {
  color: white;
  text-decoration: none;
}
.menu li {
  margin: 2rem;
}
.showMenu {
  transform: translateY(0);
}
.menuIconHide {
  display: none;
}
