#wrapper-div {
  background-color: green;
  padding: 5rem;
  text-align: center;
}
#heading {
  background-color: black;
  color: white;
  font-size: 2rem;
  padding: 1rem;
  border-radius: 1rem;
}
#btn {
  padding: 1rem;
  border-radius: 1rem;
  border: solid;
  cursor: pointer;
  border-color: black;
  background-color: green;
}
