* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.btn-div {
  display: flex;
  justify-content: end;
}
.hide-modal {
  display: none;
}
#show {
  background-color: black;
  border: none;
  color: white;
  cursor: pointer;
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
}
#show:hover {
  background-color: goldenrod;
  color: black;
}
.close-btn {
  background-color: black;
  border: none;
  color: white;
  cursor: pointer;
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
}
.close-btn:hover {
  background-color: white;
  color: black;
}
.modal-wrapper {
  display: none;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  background-color: rgb(0, 0, 0); /* Fallback color */
  overflow: auto; /* Enable scroll if needed */
  background: hotpink;
  padding: 1rem;
  border-radius: 0.5rem;
  width: 60%;
  margin: auto;
  text-align: center;
}
.modal-para {
  line-height: 1.5;
  font-weight: 600;
  text-align: justify;
  padding: 1rem;
}
.label {
  font-weight: 600;
}
