body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#wrapper-div {
  background-color: whitesmoke;
  padding: 5rem;
  margin: 2rem;
  border-radius: 2rem;
  text-align: center;
}

#number {
  font-size: 3rem;
}
#heading {
  color: black;
  font-size: 3rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 0.5rem;
  border-radius: 1rem;
}
#btn-inc,
#btn-dec,
#btn-res {
  padding: 0.5rem 2rem;
  margin: 0 1rem;
  font-size: 1rem;
  border-radius: 1rem;
  border: solid;
  cursor: pointer;
  border-color: black;
  background-color: gainsboro;
}
